@font-face { 
    font-family: 'SF Pro';
    src: url('../font/SFPro-Regular.woff2') format('woff2'),
        url('../font/SFPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* The following code removes the white spaces between div elements */

*{
    margin:0;
    padding:0;
}

body {
    font-family: SF Pro;
    font-size: 1.00em;
    width: 100%;
    height: 100%;
    margin-left: 0px;
    margin-top: 0px;
    background-color: #fbfbfd;
}

/* Styling the main navigation bar */

.MainNavBar {
    list-style: none;
    background-color: #1d1d1f;
    display: flex;
    height: 20px;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    padding: 20px 15px 15px 15px;
}
.MainNavBar li {
    padding-left: 45px;
    padding-right: 45px;
}

.MainNavBar a {
    color: lightgray;
    text-decoration: none;
}

.MainNavBar a:hover {
    color: white;
}

#apple-logo img:hover {
    filter: brightness(150%);
}

#search-icon img {
    height: 20px;
}

#search-icon img:hover {
    filter: brightness(150%);
}

#bag-icon img {
    height: 20px;
}

#bag-icon img:hover {
    filter: brightness(150%);
}

/* Styling the COVID-19 tip */

#CovidTip {
    background-color: #0071E3;
    font-size: 0.9em;
    color: white;
    margin-top: 0px;
    width: 100%;
    height: 40px;
    text-align: center;
}

#CovidTip p {
    padding-top: 12px;
}

#CovidTip a {
    color: white;
    text-decoration: none;
}

#CovidTip a:hover {
    text-decoration: underline;
}

#TopNotes {
    margin-top: 0;
    margin-bottom: 0;
}

/* Styling the shop online tip */

#ShopOnline {
    background-color: #F1f1f1;
    font-size: 0.9em;
    color: black;
    width: 100%;
    height: 40px;
    margin-top: 0px;
    width: 100%;
    text-align: center;
}

#ShopOnline p {
    padding-top: 12px;
}

#ShopOnline a {
    color: #06c;
    text-decoration: none;
}

#ShopOnline a:hover {
    text-decoration: underline;
}

/* Styling the iPhone 12 Hero */

#iPhone12Main {
    width: 950;
    margin: auto;
}

#iPhone12Title {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin-top: 45px;
}

#iPhone12Subtitle {
    font-size: 1.2em;
    font-weight:lighter;
    text-align: center;
    margin-top: 5px;
}

#iPhone12Prices {
    width: 200px;
    color: #86868b;
    font-weight:lighter;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

#iPhone12BuyFromApple {
    width: 180px;
    color: #86868b;
    font-weight:lighter;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

#iPhone12Links {
    width: 250px;
    text-align: center;
    margin: auto;
    margin-top: 25px;
}

#iPhone12Links a {
    font-size: 1.2em;
    color: #06c;
    font-weight: lighter;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}


#iPhone12Links a:hover {
    color: #06c;
    text-decoration: underline;
}

#iPhone12Hero {
    margin-left: 125px;
}

#iPhone12Hero img {
    width: 950px;
    height: auto;
    margin-top: 5px;
}

/* Styling the iPhone 12 Pro Hero */

#iPhone12ProMain {
    background-color: black;
    width: 950;
    margin: auto;
}

#iPhone12ProTitle {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    color:#fbfbfd;
    padding-top: 45px;
    margin-top: 0px;
}

#iPhone12ProSubtitle {
    font-size: 1.2em;
    font-weight:lighter;
    text-align: center;
    color: #F1f1f1;
    margin-top: 5px;
}

#iPhone12ProPrices {
    width: 300px;
    color: #86868b;
    font-weight:lighter;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

#iPhone12ProBuyFromApple {
    width: 350px;
    color: #86868b;
    font-weight:lighter;
    text-align: center;
    margin: auto;
    margin-top: 5px;
}

#iPhone12ProLinks {
    width: 250px;
    text-align: center;
    margin: auto;
    margin-top: 25px;
}

#iPhone12ProLinks a {
    font-size: 1.2em;
    color: #06c;
    font-weight: lighter;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

#iPhone12ProLinks a:hover {
    color: #06c;
    text-decoration: underline;
}

#iPhone12ProHero {
    margin-left: 125px;
}

#iPhone12ProHero img {
    width: 950px;
    height: auto;
    margin-top: 5px;
}

/* Styling the iPhone 12 Pro Hero */

#iPadAirMain {
    width: 950;
    margin: auto;
}

#iPadAirTitle {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    padding-top: 45px;
    margin-top: 0px;
}

#iPadAirSubtitle {
    font-size: 1.2em;
    font-weight:lighter;
    text-align: center;
    margin-top: 5px;
}

#iPadAirPrices {
    width: 300px;
    color: #86868b;
    font-weight:lighter;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

#iPadAirBuyFromApple {
    width: 350px;
    color: #86868b;
    font-weight:lighter;
    text-align: center;
    margin: auto;
    margin-top: 5px;
}

#iPadAirLinks {
    width: 250px;
    text-align: center;
    margin: auto;
    margin-top: 25px;
}

#iPadAirLinks a {
    font-size: 1.2em;
    color: #06c;
    font-weight: lighter;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

#iPadAirLinks a:hover {
    color: #06c;
    text-decoration: underline;
}
#iPadAirHero {
    margin-left: 125px;
}

#iPadAirHero img {
    width: 950px;
    height: auto;
    margin-top: 5px;
}

/* Other Producs and services */

#OtherProductsAndServices {
    width: 950;
    display: flex;
    flex-wrap: wrap;
    margin-left: 120px;
}

#RacialEquity {
    flex: 0 45%;
    margin: 10px;
    height: 548px;
    background-image: url('../img/racialequity.jpg');
    background-size: cover;
    order: 1;
}

#RacialEquityTitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2em;
    color:#fbfbfd;
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 45px;
}

#RELine1 {
    font-size: 1.2em;
    margin-top: 5px;
    color:#fbfbfd;
    text-align: center;
}

#RELine2 {
    font-size: 1.2em;
    color:#fbfbfd;
    text-align: center;
}

#RELine3 {
    font-size: 1.2em;
    color:#fbfbfd;
    text-align: center;
}

#RELink a {
    color: #06c;
    text-decoration: none;
    font-size: 1.2em;
    margin-left: 40%;
}

#RELink a:hover {
    text-decoration: underline;
}

#AppleWatch {
    flex: 0 45%;
    margin: 10px;
    height: 548px;
    background-image: url('../img/applewatch.jpg');
    background-size: cover;
    order: 2;
}

#AppleWatchTitle {
    color:#F1f1f1;
    font-weight: bold;
    font-size: 2em;
    text-align:center;
    margin-top: 45px;
}

#AppleWatchSeries {
    margin-top: 0px;
    color: darkred;
    font-size: smaller;
    font-weight: bold;
    text-align:center;
}

#AppleWatchSubtitle {
    font-size: 1.2em;
    margin-top: 15px;
    color:#fbfbfd;
    text-align: center;
}

#AppleWatchLinks a {
    color: #06c;
    text-decoration: none;
    font-size: 1.2em;
    margin-left: 25%;
}

#AppleWatchLinks a:hover {
    color: #06c;
    text-decoration: underline;
}

#WatchTradeIn {
    flex: 0 45%;
    margin: 10px;
    height: 410px;
    background-image: url('../img/tradein.jpg');
    background-size: cover;
    order: 3;
}

#TradeInAboveTitle {
    font-size: 0.6em;
    margin-top: 15px;
    color: darkred;
    text-align: center;
}

#TradeInTitle {
    color:#000;
    font-weight: bold;
    font-size: 2em;
    text-align:center;
    margin-top: 0px;
}

#TradeInText1 {
    font-size: 1.2em;
    margin-top: 15px;
    color: #000;
    text-align: center;
}

#TradeInText2 {
    font-size: 1.2em;
    margin-top: 0x;
    color: #000;
    text-align: center;
}

#TradeInText3 {
    font-size: 1.2em;
    margin-top: 0px;
    color: #000;
    text-align: center;
    margin-bottom: 15px;
}

#TradeInLink a {
    color: #06c;
    text-decoration: none;
    font-size: 1.2em;
    margin-left: 45%;
}

#TradeInLink a:hover {
    text-decoration: underline;
}

#AppleOne {
    flex: 0 45%;
    margin: 10px;
    height: 548px;
    background-image: url('../img/appleone.jpg');
    background-size: cover;
    order: 4;
}

#AppleOneTitle {
    color:#F1f1f1;
    text-shadow: 1px 1px #000;
    font-weight: bold;
    font-size: 2em;
    text-align:center;
    margin-top: 45px;
}

#AppleOneText {
    font-size: 1.2em;
    text-shadow: 1px 1px #fff;
    margin-top: 15px;
    color: #000;
    text-align: center;
}

#AppleOneText2 {
    font-size: 1.2em;
    text-shadow: 1px 1px #fff;
    margin-top: 15px;
    color:#000;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 15px;
}

#AppleOneLinks a {
    color: #06c;
    text-decoration: none;
    font-size: 1.2em;
    margin-left: 25%;
}

#AppleOneLinks a:hover {
    text-decoration: underline;
}

#AppleMusic {
    flex: 0 45%;
    margin: 10px;
    height: 548px;
    background-image: url('../img/applemusic.jpg');
    background-size: cover;
    order: 5;
}

#AppleMusicTitle {
    color: gold;
    font-weight: bold;
    font-size: 2em;
    text-align:center;
    margin-top: 45px;
}

#AppleMusicSubtitle {
    font-size: 1.8em;
    margin-top: 15px;
    color:gold;
    text-align: center;
}

#AppleMusicText {
    font-size: 1.2em;
    margin-top: 15px;
    color:gold;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 15px;
}

#AppleMusicLink a {
    color: #06c;
    text-decoration: none;
    font-size: 1.2em;
    margin-left: 40%;
}

#AppleMusicLink a:hover {
    text-decoration: underline;
}

#AppleTVPlus {
    flex: 0 45%;
    margin: 10px;
    height: 548px;
    background-image: url('../img/appletvplus.jpg');
    background-size: cover;
    order: 6;
}

#AppleTVPlusTitle {
    color: #F1f1f1;
    font-weight: bold;
    font-size: 2em;
    text-align:center;
    margin-top: 45px;
}

#AppleTVPlusLink a {
    color: #F1f1f1;
    text-decoration: none;
    font-size: 1.2em;
    margin-left: 30%;
}

#AppleTVPlusLink a:hover {
    text-decoration: underline;
}

/* Misc */

.Divider {
    background-color: #fff;
    width: 100%;
    height: 15px;
}

/* Styling the footer elements */

footer {
    color: #86868b;
    font-size:smaller;
    width: 950px;
    margin: auto;
    padding-top: 45px;
}

footer a {
    text-decoration: none;    color: #515154
}

footer a:hover {
    text-decoration: underline;
}

#FooterHR {
    background-color: #86868b;
    width: 100%;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#FooterLinks a {
    text-decoration: none;
    color:#515154;
    padding-left: 5px;
    padding-right: 5px;
}

#FooterLinks a:hover {
    text-decoration: underline;
    color:#515154;
}

#RegionSelector {
    padding-left: 150px;
}