@font-face { 
    font-family: 'SF Pro';
    src: url('../font/SFPro-Regular.woff2') format('woff2'),
        url('../font/SFPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: SF Pro;
}

.MainNavBar {
    list-style: none;
    background-color: rgba(0,0,0,0.8);
}